/*body {
    background-image: url('../res/background.png');
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}*/

.center {
    text-align: center;
}

.centerContent {
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.DateLog{
    padding: 20px;
}

.dropbtn {
    width: 100%;
    height: auto;
    text-align: left;
}

.dropdown {
    float: left;
}

.dropbtn {
    width:70px;
    height:50px;
}

header {
    margin-top: 20px;
    background-color: black;
    color: #d2a679;
    height: 75px;
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d2a679;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.imageBox{
	width: 150px;
	float: left;
	display: block;
	margin: 10px;
}

.imageBox img{
	width: 100%;
}

#photos{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h5{
	text-align: center;
	font-size: 100%;
}

.infoBtn{
	border: none;
	float:right;
	margin: 0;
}
.infoBtn a{
	border: none;
	text-decoration:none;
}

.content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#logs{
	clear:both;
}
.logBx{
	margin-top: 1em;
	padding: .2em 1em;
	border: thin solid #999;
	border-radius : .4em;
	box-shadow: 2px 2px 2px #ccc;
	background-color: #fff;
}

.logBx .heading{
	width: 100%;
	border-bottom: thin solid #ccc;
	text-align:left;
	height: 2em;
}

.logBx h4{
	float:left;
}

.logBx .floatRight{
	text-align:right;
	float: right;
}

.logBx .floatRight a{
	padding-left: .7em;
}
.fa-larger{
	font-size: 2em;
}

.logBx p{
	clear:both;
}

.editBx{
	display:none;
}
.logBx textarea{
	width: 100%;
}
.calendar{
	display:none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.calendar .input-group{
	display:none;
}
.calendar .ui-body-inherit{
	text-shadow:none;
	border: thin solid #aaa;
	padding: 1em;
	box-shadow: 2px 2px 2px #ccc;
}
.calNav{
	float: right;
	height: 3em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.title{
	float: left;
	margin-bottom: .5em;
}